name: Strict Transport Security Header Check
author: Project
severity: low
description: Checks for the presence of the Strict-Transport-Security header.

http:
  - method: GET
    path:
      - "{{BaseURL}}"
    matchers:
      - type: header
        part: header
        name: Strict-Transport-Security
        condition: present